:root {
  --color-white: #ffffff;
  --primary-color: #2e2f42;
  --accent-color: #4d5ae5;
  --color-ocean: #404bbf;
  --color-slate: #434455;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  color: currentColor;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  gap: 24px;
}

/* PAGE STUDIO */

.header-page {
  border-bottom: 1px solid var(--color-cornflower);
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 452px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-logo-blue {
  display: inline-block;
  margin-right: 76px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-black {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  display: block;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.heder .header-contacts {
  font-style: normal;
  margin-left: auto;
}
.header-contacts-link {
  display: inline-block;
  font-style: normal;

  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--color-ocean);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--primary-color);
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;

  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;

  color: var(--color-white);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* BENEFITS SECTION */

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: 264px;
}

.benefits-title {
  margin-bottom: 8px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PREVIEW */

.preview {
  padding-bottom: 120px;
}

.preview-list {
  display: flex;
  gap: 24px;
}

.preview-title {
  margin-bottom: 72px;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* OUR TEAM */

.team {
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;

  background-color: var(--color-cloud);
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-white);
}

.team-cover {
  padding: 32px 0;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-occupation {
  text-align: center;

  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  padding: 100px 0;

  background-color: var(--primary-color);
}

.footer-logo-blue {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-white {
  color: var(--color-cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-subtext {
  width: 264px;

  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO PAGE */

.proposals {
  padding: 96px 0 120px;
}

.nav-list-proposals {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.nav-button-proposals {
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;

  color: var(--accent-color);
  background-color: var(--color-cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.nav-button-proposals:hover,
.nav-button-proposals:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;

  color: var(--color-white);
  background-color: var(--color-ocean);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.product-cover {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.product-title {
  margin-bottom: 8px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.product-type {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
